html{
background: #240016;
}
.TextColor{
color: #00E676;
}
#PageName{
font-size: 180px;
margin: 30% 50px 200px 75px;
}
.ProjectInfoContainer{
background: #512DA4;
}
.ProjectInfoContainer h1, h2{
display: inline-block;
font-size: 50px;
margin-top: 25px;
margin-bottom: 25px;
}
.piDefaultInfo{
color: #FE6F43;
margin-right: 35px;
}
.piChangingInfo{
color: white;
font-weight: 300;
margin-right: 140px;
}
#pich2{
margin-right: 0;
}
#piBegin{
margin-left: 30px;
}
.VerticalLine{
border-right-color: #00E676;
}
#ProjectTitle{
color: #C25B2B;
margin-top: 15px;
margin-bottom: 15px;
font-size: 80px;
text-align: center;
}
#ProjectImage{
width: 725px;
height: 415px;
margin-left: 15%;
text-align: center;
}
#ProjectDescription{
color: white;
font-weight: 300;
font-size: 30px;
text-align: center;
}
.circle{
display: inline-block;
width: 80px;
height: 80px;
-moz-border-radius: 60px;
-webkit-border-radius: 60px;
border-radius: 60px;
margin-right: 55px;
}

#c1{
margin-left: 150px;
}
.CircleActive{
background: #00E676;
}
.CircleInactive{
border: 3px #00E676 solid;
}
.CircleInactive:hover{
cursor: pointer;
-webkit-animation: 1s fillcircles 1 forwards; 
}
/* Animations */
@-webkit-keyframes fillcircles {
100% {background:#00E676;}	
}