html{
font-family: 'Oswald';
height: 100%;
min-height: 100%;
}
a:-webkit-any-link {
text-decoration: none;
}
a{
color:inherit;	
text-decoration: none;
}
body{
margin: 0;
min-height: 100%;
height: 100%;
width: 100%;
display: inline-block;
overflow: hidden;
}
h1{
font-weight: 400;
}
#PageName{
margin: 32% 44px 0 98px;
font-size: 83px;
}
.VerticalLine{
border-right: 8px solid;
height: 100%;
position: absolute;
}
.RightSideContainer{
margin-left: 49%;
}
.NavBar{
color: white;
font-size: 8px;
letter-spacing: 6px;
margin-left: 43%;
}
@media screen and (min-width:1020px) {
	#PageName{
	margin: 32% 56px 0 125px;
	font-size: 106px;
	}
	.VerticalLine{
	border-right: 10px solid;
	}
	.NavBar{
	font-size: 11px;
	letter-spacing: 8px;
	}
}
@media screen and (min-width:1270px) {
	#PageName{
	margin: 32% 70px 0 156px;
	font-size: 133px;
	}
	.VerticalLine{
	border-right: 13px solid;
	}
	.NavBar{
	font-size: 13px;
	letter-spacing: 10px;
	}
}
/* 720p */
@media screen and (min-width:1350px) {
	#PageName{
	margin: 32% 75px 0 168px;
	font-size: 143px;
	}
	.VerticalLine{
	border-right: 14px solid;
	}
	.NavBar{
	font-size: 14px;
	letter-spacing: 11px;
	}
}
/* Macbook Air */
@media screen and (min-width:1400px) {
	#PageName{
	margin: 32% 79px 0 176px;
	font-size: 150px;
	}
	.VerticalLine{
	border-right: 15px solid;
	}
	.NavBar{
	font-size: 15px;
	letter-spacing: 11px;
	}	
}
@media screen and (min-width:1600px) {
	#PageName{
	margin: 32% 87.5px 0 196px;
	font-size: 166px;
	}
	.VerticalLine{
	border-right: 17px solid;
	}
	.NavBar{
	font-size: 17px;
	letter-spacing: 13px;
	}		
}
/* Most Popular Res */
@media screen and (min-width:1900px) {
	#PageName{
	margin: 32% 105px 0 235px;
	font-size: 200px;
	}
	.VerticalLine{
	border-right: 20px solid;
	}
	.NavBar{
	font-size: 20px;
	letter-spacing: 15px;
	}
}
@media screen and (min-width:2500px) {
	#PageName{
	margin: 32% 140px 0 313px;
	font-size: 266px;
	}
	.VerticalLine{
	border-right: 26px solid;
	}
	.NavBar{
	font-size: 27px;
	letter-spacing: 20px;
	}
}
@media screen and (min-width:2800px) {
	#PageName{
	margin: 32% 159px 0 356px;
	font-size: 303px;
	}
	.VerticalLine{
	border-right: 30px solid;
	}
	.NavBar{
	font-size: 30px;
	letter-spacing: 23px;
	}
}
@media screen and (min-width:3800px) {
	#PageName{
	margin: 32% 210px 0 470px;
	font-size: 400px;
	}
	.VerticalLine{
	border-right: 40px solid;
	}
	.NavBar{
	font-size: 40px;
	letter-spacing: 30px;
	}
}