html{
background-color: black;
}
.TextColor{
color:#F717A5;
}
#PageName{
margin-left: 150px;
margin-right: 70px;
}
.VerticalLine{
border-right-color: #F717A5;
}
progress{
margin: 90px 0 50px 56%;
-webkit-appearance: none;
border: none;
}
progress::-webkit-progress-bar{
border: 10px solid #F717A5;
background: black;
height: 100px;
width: 425px;
}
progress::-webkit-progress-value {
background: white;
}
.ProgressText{
color: white;
font-size: 75px;
margin-left: 15%;
margin-top: 4.5%;
position: absolute;
}