html{
background: #1B1B3A;
}
#PageName{
color: #DB095B;
}
.VerticalLine{
border-right-color: #DB095B;
}
#articlesquare{
margin-top: 15%;
width: 237.5px;
height:237.5px;
margin-left: 15%;
}
/* Animations */
@-webkit-keyframes playbutton {
25% { transform: rotateY(-90deg);}
50% {border:none;}	
75% { background: #F717A5; width: 100px; height: 100px;} 
}

@media screen and (min-width:1020px) {
	#articlesquare{
	width: 303px;
	height: 303px;
	}
}
@media screen and (min-width:1270px) {
	#articlesquare{
	width: 380px;
	height: 380px;
	}
}
/* 720p */
@media screen and (min-width:1350px) {
	#articlesquare{
	width: 407px;
	height: 407px;
	}
}
/* Macbook Air */
@media screen and (min-width:1400px) {
	#articlesquare{
	width: 438px;
	height: 438px;
	}
}
@media screen and (min-width:1600px) {
	#articlesquare{
	width: 475px;
	height: 475px;
	}
}
/* Most Popular Res */
@media screen and (min-width:1900px) {
	#articlesquare{
	width: 570px;
	height:570px;
	}
}
@media screen and (min-width:2500px) {
	#articlesquare{
	width: 766px;
	height: 766px;
	}
}
@media screen and (min-width:2800px) {
	#articlesquare{
	width: 863px;
	height: 863px;
	}
}
@media screen and (min-width:3800px) {
	#articlesquare{
	width: 1140px;
	height: 1140px;
	}
}