html{
background: #1B1B3A;
}
#PageName{
color: #DB095B;
}
.VerticalLine{
border-right-color: #DB095B;
}
#articlesquare{
margin-top: 15%;
width: 570px;
height:570px;
margin-left: 15%;
}
/* Animations */
@-webkit-keyframes playbutton {
25% { transform: rotateY(-90deg);}
50% {border:none;}	
75% { background: #F717A5; width: 100px; height: 100px;} 
}

@media screen and (min-width:1020px) {
	
}
@media screen and (min-width:1270px) {

}
/* 720p */
@media screen and (max-width:1350px) {
	#articlesquare{
	width: 407px;
	height: 407px;
	}
}
}
/* Macbook Air */
@media screen and (min-width:1470px) {
	
}
@media screen and (min-width:1600px) {
	
}
/* Most Popular Res */
@media screen and (min-width:1900px) {
	
}
@media screen and (min-width:1900px) {
	
}
@media screen and (min-width:2500px) {
	
}
@media screen and (min-width:2800px) {
	
}
@media screen and (min-width:3800px) {
	
}