html{
background: #1B1B3A;
}
#PageName{
color: #DB095B;
}
.VerticalLine{
border-right-color: #DB095B;
}
#articlesquare{
margin-top: 15%;
width: 570px;
height:570px;
margin-left: 15%;
}
/* Animations */
@-webkit-keyframes playbutton {
25% { transform: rotateY(-90deg);}
50% {border:none;}	
75% { background: #F717A5; width: 100px; height: 100px;} }
}