h1{
display: block;
font-size: 45px;
text-align: center;
padding: 15px 0px 25px 0px;
}
#T:active{
background-color: #1B1B3A;
color: #DB095B;
}
#A:active{
background-color: #011627;
color: #F71735;
}
#J:active{
background-color: #0B2027;
color:#FFFF00;
}
#A2:active{
background-color: #240016;
color:#00E676;
}
#I:active{
background-color: #03022A;
color:#18FFFF;
}
#R:active{
background-color: #120127;
color:#F717A5;
} 