#PageName{
margin: 15% 0 29% 0;
font-size: 190px;
text-align: center;
}
.VerticalLine{
border: 20px solid;
border-left: none;
border-right: none;
border-bottom: none;
margin-bottom: 1%;
width: 100%;
}
.NavBar{
margin-left: 36%;
font-size: 30px;
letter-spacing: 15px;
}