.VerticalLine{
border-color: #F717A5;
}
#PageName{
	margin-left: 125px;
	margin-right: 58px;
	margin-top: 8%;
	margin-bottom: 5%;
	}
	progress{
	margin: 75px 0 42px 25%;
	}
	progress::-webkit-progress-bar{
	height: 83px;
	width: 354px;
	}
	.ProgressText{
	font-size: 63px;
	margin-left: 26%;
	margin-top: 7%;
	}
	.circle{
	width: 200px;
	height: 200px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 117px;
	}
	.triangle{
	border-width: 42px 0 42px 90px;
	right: 425px;
	margin-top: 11%;
	}
	.shapes{
	margin-bottom: 5%;
	}