.VerticalLine{
border: 20px solid #DB095B;
border-left: none;
border-right: none;
border-bottom: none;
width: 100%;
}
#articlesquare{
margin-top: 20%;
margin-left: 21.5%;
width: 570px;
height: 570px;
}