html{
background: #240016;
}
.PageThemeColor{
color: #00E676;
}
#PageName{
font-size: 75px;
margin: 30% 21px 83px 31px;
}
.RightSideContainer{
margin-left: 46%;
}
.ProjectInfoContainer{
background: #512DA4;
}
.ProjectInfoContainer h1, h2{
display: inline-block;
font-size: 21px;
margin-top: 10px;
margin-bottom: 10px;
}
.piDefaultInfo{
color: #FE6F43;
margin-right: 15px;
}
.piChangingInfo{
color: white;
font-weight: 300;
margin-right: 58px;
}
#pich2{
margin-right: 0;
}
#piBegin{
margin-left: 13px;
}
.VerticalLine{
border-right-color: #00E676;
}
#ProjectTitle{
color: #C25B2B;
margin-top: 6px;
margin-bottom: 6px;
font-size: 33px;
text-align: center;
}
#ProjectImage{
width: 302px;
height: 173px;
margin-left: 15%;
text-align: center;
}
#ProjectDescription{
color: white;
font-weight: 300;
font-size: 13px;
text-align: center;
}
.circle{
display: inline-block;
width: 33px;
height: 33px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
margin-right: 23px;
}

#c1{
margin-left: 63px;
}
.CircleActive{
background: #00E676;
}
.CircleInactive{
border: 3px #00E676 solid;
}
.CircleInactive:hover{
cursor: pointer;
-webkit-animation: 1s fillcircles 1 forwards; 
}
/* Animations */
@-webkit-keyframes fillcircles {
100% {background:#00E676;}	
}
/*Responsive*/
@media screen and (min-width:1020px) {
	#PageName{
	font-size: 96px;
	margin: 30% 27px 106px 40px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 27px;
	margin-top: 13px;
	margin-bottom: 13px;
	}
	.piDefaultInfo{
	margin-right: 19px;
	}
	.piChangingInfo{
	margin-right: 74px;
	}
	#piBegin{
	margin-left: 16px;
	}
	#ProjectTitle{
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 43px;
	}
	#ProjectImage{
	width: 386px;
	height: 221px;
	}
	#ProjectDescription{
	font-size: 16px;
	}
	.circle{
	width: 43px;
	height: 43px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	margin-right: 29px;
	}
	#c1{
	margin-left: 80px;
	}
}
@media screen and (min-width:1270px) {
	#PageName{
	font-size: 120px;
	margin: 30% 33px 133px 50px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 33px;
	margin-top: 17px;
	margin-bottom: 17px;
	}
	.piDefaultInfo{
	margin-right: 23px;
	}
	.piChangingInfo{
	margin-right: 93px;
	}
	#piBegin{
	margin-left: 20px;
	}
	#ProjectTitle{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 53px;
	}
	#ProjectImage{
	width: 483px;
	height: 277px;
	}
	#ProjectDescription{
	font-size: 20px;
	}
	.circle{
	width: 53px;
	height: 53px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-right: 37px;
	}
	#c1{
	margin-left: 100px;
	}
}
/* 720p */
@media screen and (min-width:1350px) {
	#PageName{
	font-size: 129px;
	margin: 30% 36px 143px 54px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 36px;
	margin-top: 18px;
	margin-bottom: 18px;
	}
	.piDefaultInfo{
	margin-right: 25px;
	}
	.piChangingInfo{
	margin-right: 100px;
	}
	#piBegin{
	margin-left: 21px;
	}
	#ProjectTitle{
	margin-top: 11px;
	margin-bottom: 11px;
	font-size: 57px;
	}
	#ProjectImage{
	width: 518px;
	height: 296px;
	}
	#ProjectDescription{
	font-size: 21px;
	}
	.circle{
	width: 57px;
	height: 57px;
	-moz-border-radius: 43px;
	-webkit-border-radius: 43px;
	border-radius: 43px;
	margin-right: 39px;
	}
	#c1{
	margin-left: 107px;
	}
}
/* Macbook Air */
@media screen and (min-width:1400px) {
	#PageName{
	font-size: 135px;
	margin: 30% 38px 150px 56px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 38px;
	margin-top: 19px;
	margin-bottom: 19px;
	}
	.piDefaultInfo{
	margin-right: 26px;
	}
	.piChangingInfo{
	margin-right: 105px;
	}
	#piBegin{
	margin-left: 23px;
	}
	#ProjectTitle{
	margin-top: 11px;
	margin-bottom: 11px;
	font-size: 60px;
	}
	#ProjectImage{
	width: 545px;
	height: 312px;
	}
	#ProjectDescription{
	font-size: 23px;
	}
	.circle{
	width: 60px;
	height: 60px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	margin-right: 41px;
	}
	#c1{
	margin-left: 113px;
	}	
}
@media screen and (min-width:1600px) {
	#PageName{
	font-size: 150px;
	margin: 30% 42px 167px 63px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 42px;
	margin-top: 21px;
	margin-bottom: 21px;
	}
	.piDefaultInfo{
	margin-right: 29px;
	}
	.piChangingInfo{
	margin-right: 117px;
	}
	#piBegin{
	margin-left: 25px;
	}
	#ProjectTitle{
	margin-top: 13px;
	margin-bottom: 13px;
	font-size: 67px;
	}
	#ProjectImage{
	width: 604px;
	height: 346px;
	}
	#ProjectDescription{
	font-size: 25px;
	}
	.circle{
	width: 67px;
	height: 67px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-right: 46px;
	}
	#c1{
	margin-left: 125px;
	}
}
/* Most Popular Res */
@media screen and (min-width:1900px) {
	#PageName{
	font-size: 180px;
	margin: 30% 50px 200px 75px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	}
	.piDefaultInfo{
	margin-right: 35px;
	}
	.piChangingInfo{
	margin-right: 140px;
	}
	#piBegin{
	margin-left: 30px;
	}
	#ProjectTitle{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 80px;
	}
	#ProjectImage{
	width: 725px;
	height: 415px;
	}
	#ProjectDescription{
	font-size: 30px;
	}
	.circle{
	width: 80px;
	height: 80px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	margin-right: 55px;
	}
	#c1{
	margin-left: 150px;
	}
}
@media screen and (min-width:2500px) {
	#PageName{
	font-size: 240px;
	margin: 30% 67px 267px 100px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 67px;
	margin-top: 33px;
	margin-bottom: 33px;
	}
	.piDefaultInfo{
	margin-right: 47px;
	}
	.piChangingInfo{
	margin-right: 187px;
	}
	#piBegin{
	margin-left: 40px;
	}
	#ProjectTitle{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 107px;
	}
	#ProjectImage{
	width: 967px;
	height: 553px;
	}
	#ProjectDescription{
	font-size: 40px;
	}
	.circle{
	width: 107px;
	height: 107px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	margin-right: 73px;
	}
	#c1{
	margin-left: 200px;
	}
}
@media screen and (min-width:2800px) {
	#PageName{
	font-size: 273px;
	margin: 30% 76px 303px 114px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 76px;
	margin-top: 38px;
	margin-bottom: 38px;
	}
	.piDefaultInfo{
	margin-right: 53px;
	}
	.piChangingInfo{
	margin-right: 212px;
	}
	#piBegin{
	margin-left: 45px;
	}
	#ProjectTitle{
	margin-top: 23px;
	margin-bottom: 23px;
	font-size: 121px;
	}
	#ProjectImage{
	width: 1098px;
	height: 629px;
	}
	#ProjectDescription{
	font-size: 45px;
	}
	.circle{
	width: 121px;
	height: 121px;
	-moz-border-radius: 91px;
	-webkit-border-radius: 91px;
	border-radius: 91px;
	margin-right: 83px;
	}
	#c1{
	margin-left: 227px;
	}
}
@media screen and (min-width:3800px) {
	#PageName{
	font-size: 360px;
	margin: 30% 100px 400px 150px;
	}
	.ProjectInfoContainer h1, h2{
	font-size: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	}
	.piDefaultInfo{
	margin-right: 70px;
	}
	.piChangingInfo{
	margin-right: 280px;
	}
	#piBegin{
	margin-left: 60px;
	}
	#ProjectTitle{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 160px;
	}
	#ProjectImage{
	width: 1450px;
	height: 830px;
	}
	#ProjectDescription{
	font-size: 60px;
	}
	.circle{
	width: 160px;
	height: 160px;
	-moz-border-radius: 120px;
	-webkit-border-radius: 120px;
	border-radius: 120px;
	margin-right: 110px;
	}
	#c1{
	margin-left: 300px;
	}
}