html{
cursor: pointer;
background: #1B1B3A;
}
#PageName{
color: #DB095B;
}
.CardHolder{
margin-top: 40%;
margin-left: 9%;
}
.card{
width: 810px;
height: 610px;	
}
#CardTitle{
font-size: 70px;
margin-bottom: 10px;
}
#CardMedia{
height: 403px;
}
#CardDate{
font-size: 40px;
}
.VerticalLine{
border-color: #DB095B;
pointer-events: none;
}
