html{
cursor: pointer;
background: #1B1B3A;
}
#PageName{
color: #DB095B;
}
#articlesquare{
margin-top: 14%;
margin-left: 20.5%;
width: 570px;
height: 570px;
}
.VerticalLine{
border-color: #DB095B;
}
.NavBar{
	font-size: 20px;
	letter-spacing: 15px;
}	